# Start Generation Here
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
*.egg-info/
dist/
build/
.eggs/
*.egg
*.whl
*.zip
*.tar.gz
*.tgz
*.bak
*.tmp
*.swp
*.DS_Store
*.idea/
*.vscode/

# User custom files
venv/
http/
.cursorrules